<div class="container-fluid nav-container">
    <div class="row h-100 d-flex align-items-center justify-content-center">
        <div class="col-4 col-md-3 d-flex align-items-center">
            <div class="mx-2 nav-menu" >
                <img src="../../../assets/img/menu.svg" width="17px" alt="">
            </div>
            
            <img class="ml-2" src="../../../assets/img/logo.svg" width="170px" alt="">
        </div>
        <div class="col-5 col-md-6"><app-search></app-search></div>
        <div class="col-3 col-md-3">
            <div class="d-inline mr-auto">
                
            </div>
        </div>
    </div>
</div>
